.App {
  text-align: center;
}

.boxes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
}

.Box {
  border: darkred solid 1px;
  width: 250px;
  height: 250px;
}

.BoxLink {
  text-decoration: none;
  color: black;
}

.Box img {
  position: relative;
  width: 100px;
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

nav li {
  padding: 10px 20px;
  list-style-type: none;
  border: darkred 1px solid;
  margin: 5px;
  cursor: pointer;
}
